<div class="text-white">
  <h1>DecimalPipes y Porcentajes </h1>
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module.
  </p>
</div>
<div class="p-grid">
  <div class="p-col-12 p-md-4">
    <p-card header="Ventas netas" subheader="Ventas netas del presente año">
      <i class="pi pi-dollar"></i>
      {{ netSales | number:'.2-2' }}
    </p-card>
  </div>
  <div class="p-col-12 p-md-4">
    <p-card header="currency Pipe" subheader="Ventas brutas">
      {{ netSales | currency:'CAD':'symbol-narrow':'0.4-4' }}
    </p-card>
  </div>
  <div class="p-col-12 p-md-4">
    <p-card header="percent Pipe" subheader="Margen de ganacia">
      {{ percentage | percent:'.2-2' }}
    </p-card>
  </div>
</div>
